<ul class="card-set">
    {{#each this}}
    <li class="card-item">

        <div class="card">

            <div class="card-img">
                <a class="card-link" href="{{largeImageURL}}">
                    <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
                </a>
            </div>

            <div class="card-info">
                <p class="info-item">
                    <i class="fa-solid fa-heart fa-xl"></i>
                    <b>{{Likes}}</b>
                </p> 
                <p class="info-item">
                    <i class="fa-solid fa-eye fa-xl"></i>
                    <b>{{Views}}</b>
                </p>
                <p class="info-item">
                    <i class="fa-solid fa-comment fa-xl"></i>
                    <b>{{Comments}}</b>
                </p>
                <p class="info-item">
                    <i class="fa-solid fa-cloud-arrow-down fa-xl"></i>
                    <b>{{Downloads}}</b>
                </p>
            </div>

        </div>

    </li>
    {{/each}}
</ul>